html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    background: linear-gradient(to right, rgb(246, 246, 246), rgb(244, 244, 244));
    
}

main{
    height: 100vh;
}

header{
    height: 56px;
    display: flex;
    align-items: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
    background-color: white;
}


.wrapper{
    width: 77.5%;
    margin: 0 auto;
}