html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    background: linear-gradient(to right, rgb(246, 246, 246), rgb(244, 244, 244));
    
}

main{
    height: 100vh;
}

header{
    height: 56px;
    display: flex;
    align-items: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
    background-color: white;
}

button{
    background-color: #F77833;
    border-radius: 8px;
    border: none;
    box-shadow: 0px 1px 3px rgba(188, 66, 0, 0.15);
    font-size: 16px;
    font-weight: 700;
    color: white;
    padding-top: 16px;
    padding-bottom: 16px;
    transition: ease-in-out .1s all;
    height: 52px;
}

button:hover,
button:active,
button:focus-visible{
    transform: scale(1.05);
}


.wrapper{
    width: 77.5%;
    margin: 0 auto;
}